.page {
	background-image: url('../img/bg2.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.setup-forms-wrapper {
	display: flex;
	justify-content: space-around;
}

.player-setup-form,
.game-setup-form {
	border: 5px rgb(145, 255, 0) groove;
	list-style-type: none;
	background-color: #6f439b;
	width: 40%;
	height: max-content;
	background-size: contain;
	margin: .2rem auto;
	padding-left: .3rem;
	animation: slide 2s linear;
}

@keyframes slide {
	0% {
		transform: translate(0, -100%);
	}
	100% {
		transform: translate(0, 0);
	}
}

.job-select {
  	display: block;
}

.game-board,
.player-2-setup,
.player-3-setup {
  	display: none;
}

.choose-dream {
    text-align: center;
    border: 2px groove black;
    margin:0 auto;
    width: 30em;
    border-radius: 10px;
    background-color: rgb(247, 241, 234);
}

.dream {
    display: flex;
    align-items: flex-start;
}

/* .dream-title, */
.dream-block {
    margin: 10px 10%;
}

.choose-dream__arrow {
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		align-self: center;
}

.choose-dream__arrow--left {
		border-right: 30px solid blueviolet;
    float: left;
}

.choose-dream__arrow--right{
		border-left: 30px solid blueviolet;
    float: right;
}


/* section {
	width: 300px;
	text-align: center;
	border: 1px solid black;
	border-radius: 12px/10px;
	margin: 150px;
	padding: 10px;
}
p{
	text-align: justify;
}
h2{
	color:rgb(90,70,10);
} */
