.page {
	background-image: url('../img/bg2.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	user-select: none;
}

.setup-forms-wrapper {
	display: flex;
	justify-content: space-around;
}

.player-setup-form,
.game-setup-form {
	border: 5px rgb(145, 255, 0) groove;
	list-style-type: none;
	background-color: #6f439b;
	width: 40%;
	height: max-content;
	background-size: contain;
	margin: .2rem auto;
	padding-left: .3rem;
	animation: slide 2s linear;
}

@keyframes slide {
	0% {
		transform: translate(0, -100%);
	}
	100% {
		transform: translate(0, 0);
	}
}

.job-select {
  	display: block;
}

.player-2-setup,
.player-3-setup {
  	display: none;
}

.start-game-form {
	display: none;
}

.choose-dream {
	display: none;
  text-align: center;
  border: 2px groove black;
  margin: 5px auto;
  padding-left: 10px;
	padding-right: 10px;
  border-radius: 10px;
  background-color: rgb(247, 241, 234);
}

.dream {
  display: flex;
  align-items: flex-start;
	justify-content: space-between;
}

.dream-info {
  margin: 10px 10%;
}

.choose-dream__arrow {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	align-self: center;
}

.choose-dream__arrow:hover {
	cursor: pointer;
}

.choose-dream__arrow--left {
		border-right: 30px solid blueviolet;
    float: left;
}

.choose-dream__arrow--right{
		border-left: 30px solid blueviolet;
    float: right;
}

.player-info {
	text-align: justify;
	margin-left: 5px;
}

.start-button {
	display: none;
}

.game-board {
	display: none;
	margin: 8px;
	width: 70%;
}

.board-title {
	text-align: center;
}

.ft-cell {
	border: 2px solid purple;
	text-align: center;
	background-color: rgb(85, 190, 85);
	color: white;
	vertical-align: top;
}

.ft-cell__description {
	font-size: 10px;
}

.rr-table-wrapper {
	height: 100%;
}

.rr-table {
	width: 100%;
	min-height: 100%;
	height: 100%;
	table-layout: fixed;
}

.rr-row {
	height: 5rem;
}

.rr-cell {
	height: 100%;
	border: 2px solid purple;
	color: white;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rr-cell__text {
	font-variant: all-small-caps;
}

.start-here-cell {
	border: 2px solid blue;
	color: blue;
	text-align: center;
	vertical-align: top;
}

.token-space {
	display: flex;
	height: 10px;
	justify-content: space-evenly;
	align-items: center;
}

.token-space--rr {
	height: 70%;
}

.player-token {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: gold;
	width: 30px;
	height: 35px;
	border-radius: 50%;
	border: 1.8px ridge gold;

}

.player-list-table {
	width: 100%;
}

.player-list-row {
	display: flex;
	justify-content: space-around;
}

.player-list-row__cell {
	/* border: 2px solid saddlebrown; */
	/* border: 1px solid greenyellow; */
	color: #484343;
	padding: 5px;
}

.player-list-row__cell--active {
	background-color: greenyellow;
}

/* style to set on the cell of the active player's box */
.active-player {
	background-color: #97994E;
}

.turn-info {
	display: flex;
	justify-content: center;
}

.turn-action {
	text-align: center;
  border: 2px groove grey;
  width: 70%;
  height: 20em;
  border-radius: 10px;
  background-color: rgb(247, 241, 234);
  box-shadow: 0 2px 1px grey ;
	margin-bottom: 2px;
	padding: 7px;
}

.turn-action__player {
	display: block;
	text-decoration: underline;
}

.turn-action__p {
	text-align: justify;
}

.roll-dice-button {
	font-size: larger;
  /* box-shadow: 3px 3px rgba(24, 253, 4, 0.986), -3px -3px rgba(24, 253, 4, 0.986); */
}

.repay-borrow-buttons-wrapper,
.end-turn-button {
	display: none;
	font-size: larger;
	opacity: 0.8;
}

.end-turn-button {
	text-align: center;
}

/* styles for spaces on the game */
.cashflow-space {
	background-color: yellow;
	color: gray;
}

.dream-space {
	background-color: #AE63AE;
}

.divorce-space {
	background-color: #D32F2F;
}

.lawsuit-space,
.tax-audit-space {
	background-color: #F24B5B;
}

.opportunity-space {
	background-color: rgb(67, 160, 71);
}

.charity-space {
	background-color: rgb(0, 193, 218);
}

.doodad-space {
	background-color: #83A296;
}

.market-space {
	background-color: #0277BD;
}

.baby-space {
	background-color: #FFB74D;
}

.paycheck-space {
	background-color: #FDD835;
}

.downsized-space {
	background-color: #D32F2F;
}
